body{
	font-size: 16px;
}

 a{
	text-decoration: none;
	color: inherit;
}

em{
	font-style: italic;
}

img{
	max-width: 100%;
	height: auto;
}

.center{
	text-align: center;
}

/**************************
	Base Typography Styles
 **************************/
h1, h2, h3, h4, h5{
	font-family: "Roboto Slab", serif;
	color:  #171717;
	font-weight: 700;
}

p{
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

/*********************************************************************
Tow Column Styles
1st column  has a width of 60.
2nd column has a width of 40 and has rows stacked on top of each other
This Stucture is used in the Colmar Information Section and Thesis Section.
********************************************************************/
.container-60-40{
	display: flex;
}
.left-column-60{
	width: 60%;
	padding: 2rem 1.5rem;
}
.left-column-60 .column-60-content{
	margin-top: 2rem;
}

.right-column-40{
	width: 40%;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
}

.right-column-40 .column-row{
	display: flex;
	align-items: center;
}

.right-column-40 .column-row-img{
	width: 35%;
	padding: 1rem;
}

.right-column-40 .column-row-content{
	width: 65%;
}


/*Typography For left 60% Colmun Style*/
.column-60-content h3{
	font-size: 2.325rem;
}

.column-60-content p{
	font-size: 1.125rem;
	margin: 1.5rem 0;
}

/*Typography For Right 40% Column Style */
.column-row-content h5{
	font-size: 1.25rem;
}

.column-row-content p{
	font-size: 1rem;
	margin: 0.5rem 0;
}

.column-row-content a{
	color: #5294E2;
	font-size: 1.125rem;
	font-weight: bold;
	text-decoration: underline;
}

@media only screen and (max-width: 1024px){
	.column-60-content h3{
	font-size: 2rem;
	}

	.column-60-content p{
	font-size: 1.125rem;
	margin: 1rem 0;
	}
	
	.column-row-content h5{
	font-size: 1.25rem;
	}

	.column-row-content p{
	font-size: 1rem;
	margin: 0.5rem 0;
	}
}

@media only screen and (max-width: 800px){
	.column-60-content h3{
	font-size: 1.625rem;
	}

	.column-60-content p{
	font-size: 1rem;
	margin: 1rem 0;
	}
	
	.column-row-content h5{
	font-size: 1.125rem;
	}

	.column-row-content p{
	font-size: 0.75rem;
	margin: 0.25rem 0;
	}

	.column-row-content a{
		font-size: 1rem;
	}
}

@media only screen and (max-width: 660px){
	.column-60-content h3{
	font-size: 2rem;
	}

	.column-60-content p{
	font-size: 1.125rem;
	margin: 1rem 0;
	}
	
	.column-row-content h5{
	font-size: 1.5rem;
	}

	.column-row-content p{
	font-size: 1.125rem;
	margin: 0.5rem 0;
	}

	.column-row-content a{
		font-size: 1.25rem;
	}
}

/****************
	Nav Styles
*****************/
nav{
	height: 4rem;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 5;
	align-items: center;
	justify-content: space-between;
	background-color: #5294E2;
	color: #F7FAFC;
	font-family: Oswald, sans-serif;
}

nav .nav-logo{
	display: flex;
	align-items: center;
	height: 2rem;
	margin-left: 1.5rem;
}

.logo-content #logo-style{
	font-weight: bold;
	color: #272727;
}

.logo-content h3{
	color: white;
	font-size: 1.5rem;
}

nav .desktop-tablet{
	display: flex;
	margin-right: 1.5rem;
}

.desktop-tablet li{
	margin-right: 1rem;
	display: flex;
	align-items: center;
	transition: background-color 600ms;
}

.desktop-tablet li:last-child{
	margin-right: 0;
}

 .desktop-tablet li:hover{
	color: #FFD700;
}
nav .mobile{
	display: none;
}

/*Nav Typography Sizes*/
nav h3{
	font-size: 1.625rem;
}

nav a{
	font-size: 1.5rem;
}

@media only screen and (max-width: 800px){
	nav{
		flex-direction: column;
		padding-bottom: 0.625rem;
	}

	nav .desktop-tablet{
		justify-content: space-between;
		width: 85%;
	}
	nav a{
		font-size: 1.325rem;
	}
}

@media only screen and (max-width: 480px){
	nav{
		padding-bottom: 0;
		flex-direction: row;
	}
	nav .nav-logo{
		display: none;
	}

	nav	.desktop-tablet{
		display: none;
	}

	nav .mobile{
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin: 0 1.5rem;
	}

	nav .mobile li{
		display: flex;
		align-items: flex-end;
	}

	nav .mobile li:hover{
		border-bottom: 1px solid  #FFD700;
	}
	

}

/**********************
Main Style
**********************/
.main{
	position: relative;
	top: 4rem;
}

/*********************
	Header Styles
**********************/
header{
	display: flex;
	align-items: center;
	background-color: #E3E3E3;
}

header .header-content{
	width: 75%;
}

.header-content .button{
	background-color: #5294E2;
	padding: 1rem 0;
	border-radius: 0.325rem;
	text-align: center;
	color: #F7FAFC;
	transition: background-color 500ms ease-in-out 100ms;
}

.button:hover{
	background-color: #00257a;
}

/*Typography Sizes For Header*/
header h1{
	font-size: 2.75rem;
	line-height: 1.4;
}

header p{
	font-size: 1.5rem;
	margin: 1.5rem 0;
}

.button a{
	font-size: 1.5rem;
}

@media only screen and (max-width: 1024px){
	header .header-content{
		width: 95%;
	}

	header h1{
		font-size: 2.325rem;
	}

	header p{
		font-size: 1.25rem;
		margin: 0.75rem 0;
	}

	.header-content .button{
		padding: 0.5rem 0;
	}
}

@media only screen and (max-width: 800px){
	header h1{
		font-size: 2rem;
	}

	header p{
		font-size: 1rem;
		margin: 0.75rem 0;
	}

	.header-content .button{
		padding: 0.5rem 0;
	}
}

@media only screen and (max-width: 660px){
	header h1{
		font-size: 2rem;
	}

	header .header-content{
		margin: 0 auto;
	}

	header p{
		font-size: 1.25rem;
		margin: 0.75rem 0;
	}

	.header-content .button{
		padding: 0.75rem 0;
	}

	header{
		flex-direction: column;
		align-items: center;
		padding: 2rem 1rem;
	}

	header .left-column-60{
		width: 100%;
		padding: 0;
	}

	header .right-column-40{
		width: 100%;

	}
}

/*************************
Colmar Information Section
***************************/
#colmar-info{
	display: flex;
	background-color: #EDEDED;
}

#colmar-info a{
	color: #5294E2;
}

#colmar-info .right-column-40{
	border-left: 0.75px solid #737373;
}

#colmar-info .column-row{
	border-bottom: 0.75px solid #737373;
}

#colmar-info .img-mobile{
	display: none;
}

@media only screen and (max-width: 660px){
	#colmar-info .left-column-60{
		display: none;
	}

	#colmar-info .right-column-40{
		width: 100%;
	}


	#colmar-info .img-desktop{
		display: none;
	}

	#colmar-info .column-row{
		flex-direction: column;
		padding: 1rem 1rem 2rem 1rem;
	}

	#colmar-info .column-row-img{
		width: 100%;
		margin-bottom: 1rem;
		padding: 0;
	}

	#colmar-info .column-row-content{
		width: 100%;
	}

	#colmar-info .img-mobile{
	display: block;
	max-width: 100%;
}

	#colmar-info .right-column-40{
		padding-top: 0;
		border: none;
	}

}

/****************
Courses Styles
******************/
#courses{
	display: flex;
	flex-direction: column;
	padding: 2rem 4.5rem;
	background-color:  #E3E3E3;
}

#courses .course-row{
	display: flex;
	margin-top: 2rem;
}

.course-row .course-container{
	width: 33.3%; 
	margin-right:  2rem;
	background-color: #EFEFEF;
}

.course-row .course-container:last-child{
	margin-right: 0;
}

.course-container .course-content{
	padding: 1rem 1rem 1.5rem 1rem;
}

/*Typography For Courses Section*/
#courses h2{
	font-size: 2.5rem;
}
#courses h4{
	font-size: 1.875rem;
}

#courses h5{
	font-size: 1.475rem;
	margin: 0.5rem 0;
	line-height: 1.2;
	font-weight: 400;
}

#courses p{
	font-size: 1.25rem;
}

@media only screen and (max-width: 1024px){
	#courses h2{
	font-size: 2.325rem;
	}
	#courses h4{
	font-size: 1.85rem;
	}

	#courses h5{
	font-size: 1.5rem;
	margin: 0.5rem 0;
	line-height: 1.2;
	font-weight: 400;
	}

	#courses p{
	font-size: 1.25rem;
	}
}

@media only screen and (max-width: 800px){
	#courses h2{
	font-size: 2.125rem;
	}
	#courses h4{
	font-size: 1.5rem;
	}

	#courses h5{
	font-size: 1.25rem;
	margin: 0.5rem 0;
	line-height: 1.2;
	font-weight: 400;
	}

	#courses p{
	font-size: 0.85rem;
	}
}

@media only screen and (max-width: 660px){
	#courses{
		padding: 2rem 0;
	}

	#courses h2{
		margin-bottom: 1rem;
		font-size: 2rem;
	}

	#courses h4{
	font-size: 1.325rem;
	}

	#courses .course-row{
		flex-direction: column;
		padding: 0;
		margin: 0;
	}

	.course-row	.course-container{
		width: 100%;
		margin-bottom: 0.5rem;
		transition: background-color 600ms ease-in 100ms;
	}

	.course-row .course-container:hover{
		background-color: #5294E2;
	}

	.course-container .course-img, .course-container p, .course-container h5{
		display: none;
	}
}

/*************
Thesis Section
**************/
#thesis{
	display: flex;
	flex-direction: column;
	background-color:#EDEDED;
}

#thesis .thesis-header{
	text-align: center;
	padding-top: 2rem;
	font-size: 2.5rem;
}

.thesis-video video{
	max-width: 100%;
}

#thesis .right-column-40{
	padding-top: 2rem;
}

#thesis .column-row:first-child{
	background-color: lightgrey;
}

#thesis .column-row{
	border-bottom: none;
}

@media only screen and (max-width: 1024px){
	#thesis .thesis-header{
		font-size: 2.325rem;
	}

}

@media only screen and (max-width: 800px){
	#thesis .thesis-header{
		font-size: 2.125rem;
	}

}

@media only screen and (max-width: 660px){
	#thesis .right-column-40{
		display: none;
	}

	#thesis .column-60-content{
		display: none;
	}

	#thesis .left-column-60{
		width: 100%;
		padding: 0;
	}
	
	#thesis{
		padding-bottom: 1.5rem;
	}

	#thesis .thesis-header{
		padding-bottom: 1rem;
		font-size: 2rem;
	}

}

/********************\
	Footer Styles
**********************/
footer{
	background-color: #5294E2;
	height: 3rem;
	display: flex;
	color:  #F7FAFC;
	padding: 1rem 1.5rem;
	justify-content: space-between;
}

footer  .legal-info{
	display: flex;
}

.legal-info li{
	padding-left: 1rem;
}

/*Typography for Footer*/
 #copyright{
	font-size: 1.125rem;
}

footer a{
	font-size: 1rem;
}

@media only screen and (max-width: 800px){
	#copyright{
		font-size: 1rem;
	}

	footer a{
		font-size: 0.85rem;
	}
}

@media only screen and (max-width: 660px){
	
	footer{
		height: 2.5rem;
		align-items: center;
		justify-content: center;
	}
	 footer .legal-info{
		display: none;
	}

	#copyright{
		font-size: 0.75rem;
	}
}



