body{
	font-size: 16px;
	background-color: #E5E7E6;
}
a{
	text-decoration: none;
}

.center{
	text-align: center;
}
/*THis is for the parts that require a width of 60%*/
.width-60{
	width: 60%;
	padding: 2rem 1.5rem;
}

.width-60 img{
	max-width: 100%;
}

/*The structure for the columns that sit vertically in
#colmar section and #thesis section*/
.vertical-column{
	width: 40%;
	display: flex;
	flex-direction: column;
	padding-top: 1rem;
	border-left: 1px solid black;
}

.vertical-column .column-row{
	display: flex;
	align-items: center;
	border-bottom: 1px solid grey;
}

.vertical-column .column-row-img{
	width: 35%;
	padding: 1rem;
}

.vertical-column .column-row-content{
	width: 65%;
}

.column-row-img img{
	max-width: 100%;
	height: auto;
}

.column-row h4{
	font-size: 1.5rem;
	font-weight: bold;
}

.column-row p{
	margin: 0.75rem 0;
	font-size: 0.875rem;
	line-height: 1;
}

/*Nav Styles*/
nav{
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding: 0 1.5rem;
}

nav .nav-logo{
	display: flex;
	align-items: center;
	height: 2rem;
}

.nav-logo .logo-content{
	text-transform: uppercase;
}

.logo-content #logo-style{
	font-weight: bold;
}

nav .desktop-tablet{
	display: flex;
}

nav a{
	text-decoration: none;
}

.desktop-tablet li{
	padding-right: 1rem;
}

desktop-tablet li:last-child{
	padding-right: 0;
}

nav .mobile{
	display: none;
}

/*Header*/
header{
	display: flex;
	align-items: center;
}

header .header-img-container{
	/*padding: 2rem 3rem 2rem 1.5rem;*/
}

header .header-content{
	width: 27%;	
}

.header-content .button{
	background-color: #696773;
	padding: 0.75rem;
	border-radius: 0.25rem;
	text-align: center;
}

.button a{
	text-decoration: none;
	color: white;
}

header h1{
	font-size: 3rem;
	line-height: 1;
}

header p{
	margin: 2rem 0;
	font-size: 1.25rem;
	line-height: 1.2;
}

/*Colmar Information Section*/
#colmar-info{
	display: flex;
	background-color: white;
}

#colmar-info .colmar-info-content{
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
}

#colmar-info .column-row:last-child{
	background-color: grey;
}

.colmar-info-content h2{
	font-size: 2rem
}

.colmar-info-content p{
	font-size: 1rem;
	margin: 1.5rem 0;
	line-height: 1.2;
}


		/*Courses Styles*/
#courses{
	display: flex;
	flex-direction: column;
	padding: 2rem 4.5rem;
}

#courses .course-row{
	display: flex;
}

#courses .course-row:last-child{
	margin-bottom: 0;
}

.course-row .course-container{
	width: 33.3%;
	margin-right: 2rem;
	margin-top: 2rem;
	background-color: white;
}

.course-row .course-container:last-child{
	margin-right: 0;
}

.course-container .course-img{
	width: 100%;
}

.course-img img{
	max-width: 100%;
	height: auto;
}

.course-container .course-content{
	padding: 1rem 1rem 1.5rem 1rem;
}

.course-content h4{
	font-size: 1.625rem;
	font-weight: bold;
}

.course-content h5{
	margin: 0.5rem 0;
	font-size: 1.125rem;
	text-transform: uppercase;
}

.course-content p{
	font-size: 1rem;
	line-height: 1.3;
}





